body, html {
    background-color: #000000;
    color: #ff0000;
    height: 100%;
    font: Sans-Serif;
    text-align: center;
    margin: 0;
    overflow: auto;
}

.box {
    background-color: #000000;
    color: #ff0000;
    padding: 20px;
    border: 5px solid #ff0000;
}

.song {
    width: 310px;
    text-align: center; 
    margin: auto;
}

.middle {
    background-color: #000000;
    color: #ff0000;
    padding: 20px;
    text-align: center;
    width: 850px;
    min-height: 80%;
    margin: 0 auto;
}

a, hr {color: #ff0000;}
a:hover {color: #990000;}
img { border: 2px solid #ff0000; }
