body, html {
    background-color: #000000;
    background-image: url('../pix/bg.png');
    background-repeat: repeat;
    height: 100%;
    font: Sans-Serif;
    text-align: center;
    margin: 0;
    overflow: auto;
}

.box {
    background-color: #000000;
    color: #ff0000;
    padding: 20px;
    border: 5px solid #ff0000;
}

.song {
    border-style: solid;
    padding: 5px;
    width: 310px;
    text-align: center; 
    align: center;
    margin: auto;
}

.middle {
    background-color: #000000;
    color: #ff0000;
    padding: 20px;
    border: 5px solid #ff0000;
    width: 850px;
    min-height: 80%;
    margin: 0 auto;
}

h1 {
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    background-color: #000000;
    color: #ff0000;
}

a, hr {color: #ff0000;}
a:hover {color: #990000;}
